{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes).addClass(custom_classes) }} {% if anchor|length %}id="{{ anchor }}"{% endif %}>

    {% if in_container == false %}
      <div class="container">
    {% endif %}
        <div class="row">
          {% block content %}
            <div class="{{ column_classes }} ">
        
              {{ content }}
            </div>
          {% endblock %}
        </div>
    {% if in_container == false %}
      </div>
    {% endif %}
  
  </div>
{% endblock paragraph %}
