<p class="text-teal mb-1 font-weight-bold"><a href="{{ url }}" target="_blank" data-extension="pdf" rel="nofollow"><i class="fal fa-file-pdf"></i>{{ name }}</a> ({{ filesize }})</p>

{% if body is defined and body != '' %}
	<p class="font-size-sm text-grey-darker mb-1">{{ body|raw }}</p>
{% endif %}