<div id="takeover-search-cover"></div>

<div id="takeover-search" class="bg-blue" role="dialog" tabindex="-1" aria-labelledby="Search Area" aria-hidden="true">

	<div class="container inner p-5 text-left">  
  	<div class="row">
			
			<div class="col-md-8 text-white">
				<a class="d-block d-lg-none link-white text-right" tabindex="0" data-target="takeover-search" role="button" aria-expanded="false" aria-controls="takeover-search"><i class="fal fa-times fa-2x"></i></a>

				<h3>{{ 'Site Search'|t }}</h3>
				{{ search_form }}
			</div>
  	
  	</div>
  </div>
</div>