<div id="takeover-menu-cover"></div>

<div id="takeover-menu" class="bg-yellow" role="dialog" tabindex="-1" aria-labelledby="Side Menu" aria-hidden="true">

	<div class="inner p-5 text-left">  
  	{{ drupal_menu('lrb-takeover') }}
  </div>
</div>