/**
 * @file
 * Extend wizard progress bar styles.
 *
 * @see /webform/example_wizard
 * @see /webform/test_form_wizard_advanced
 */

/**
 * Progress bar.
 *
 * @see https://coderwall.com/p/-7trcg/simple-css-only-wizard-progress-tracker
 */
li.webform-progress-bar__page--error > b {
  background-color: #FF0000;
}
