<div id="disclaimer" class="lrb-disclaimer py-5">
	<div class="container">
		<div class="row">
			<div class="col">
        <p class="updated-notice text-teal">{{ 'This page was last updated: ' ~ updated|date('Y-m-d') }}</p>
				{{ disclaimer|raw }}
			</div>
		</div>
	</div>
</div>