<div id="weaver-text-resizer">
	<a class="resizer" tabindex=0 data-resize="smaller" data-toggle="tooltip" data-placement="left" title="{{ 'Click to reduce the font size of the website'|t }}">a</a>
	<a class="resizer" tabindex=0 data-resize="reset" data-toggle="tooltip" data-placement="left" title="{{ 'Click to reset the font size of the website'|t }}">a</a>
	<a class="resizer" tabindex=0 data-resize="larger" data-toggle="tooltip" data-placement="left" title="{{ 'Click to enlarge the font size of the website'|t }}">a</a>
</div>